{% extends "layout/base.html" %}

{% block title %} About {% endblock %}

{% block content %}
<h1>About {{name}}</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec tortor eget felis venenatis euismod.
    Curabitur congue nisi id mauris lobortis pretium.
    Aliquam vehicula, nibh sit amet elementum vehicula, massa ipsum placerat massa, nec placerat tellus nisi sed leo.
    Aliquam condimentum quis sapien a mollis.
    Sed eget rhoncus tortor, in tempus enim.
    Vivamus id lobortis nisi, sit amet bibendum tortor.
    Vestibulum mi sem, eleifend sed sem id, tincidunt consequat felis.
</p>
{% endblock %}
