<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- HTMX via cdn -->
    <script src="https://unpkg.com/htmx.org@1.9.8" i
            ntegrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
            crossorigin="anonymous"
    >
    </script>
    <title>{% block title %} {{ title }} {% endblock %}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    {%block content %}{% endblock %}
  </body>
</html>
